/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
margin: 0;
padding: 0;
}

body{
    font-family: "Roboto";
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}
.agnello{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(90deg, #161616 0.14%, #2B0303 98.22%);
  padding: 0 auto;
  margin: 0 auto;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  text-size-adjust: 1px;
  list-style: none;
  text-decoration: underline;
}

nav{
  display: flex;
  flex-direction: row;
}

nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home2{
  border: 2px solid white;
  border-radius: 4px;
  padding: 1px 41px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: #2C2C2C;
}

.fav{
    border: 2px solid white;
    border-radius: 4px;
    list-style: none;
    padding: 1px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2C2C2C;
  }

.regioes{
  border: 2px solid white;
  border-radius: 4px;
  padding: 1px 35px;
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  background-color: #2C2C2C;
}

.carrinho{
  border: 2px solid white;
  border-radius: 4px;
  list-style: none;
  padding: 1px 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2C2C2C;
}

.sobrenos{
  border: 2px solid white;
  list-style: none;
  border-radius: 4px;
  padding: 1px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2C2C2C;
}

.logout{
  border: 1px solid white;
  border-radius: 4px;
  padding: 1px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;


}
.barraLateral{
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 30px 0px;
  margin: 0;
  width: 500px;
  height: 550px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #2C2C2C;
}

.barrapesquisa{
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.barrapesquisa input{
  background-image: url('http://127.0.0.1:5500/CK2/Images/produtos/pesquisa.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px;
}

.produtos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-image: url(http://127.0.0.1:5500/CK2/Images/produtos/background.png);
background-repeat: no-repeat;
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
margin: 0;
padding: 0;
}

.container{
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

header{
  display: flex;
  flex-direction: row;
  justify-items: center ;
  background: linear-gradient(90deg, #2C2C2C 15%, #2B0303 85%);
  padding: 0 auto;
  margin: 0 auto;

}


.agnello{
  display: flex;
  align-items: center;
}

.home{
 display: flex;
 justify-self: center;

}

nav{
  display: flex;
  flex-direction: row;
}

nav ul a{
  text-decoration: none;
  color: white;
}

aside{
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px 0px;
  width: 40%;
  background-color: #2C2C2C;
}

aside nav ul div{
  border: 2px solid rgb(49, 49, 49);
  border-radius: 10px;
  padding: 1px 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: #252525;
}

aside nav ul div :hover{
  color:#2B0303
}

.logout{
  margin-top: 180px;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 10px;
  padding: 1px 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: #252525;
}

.logout :hover{
  color: #2B0303;
}

.barrapesquisa{
  padding: 10px 80px;
  width: 80px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.barrapesquisa input{
  background-image: url('https://cdn-icons-png.flaticon.com/512/149/149852.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px;
  background-color: #d9d9d931;
  border: 1px solid;
  border-radius: 10px;
}

.produtos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-image: url(https://gabrielmarinho.com/wp-content/uploads/2013/02/300400_2090471785132_106445699_n.jpg?w=720);
  background-repeat: no-repeat;
  background-size: 1500px;
}

.produto.container {
  padding-top: 10px;
  height: 200px;

}

.produto-lista {
  display: flex;
  border: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.product {
  width: 300px;
  margin: 20px;
  padding: 15px;

  text-align: center;
}

.product a img {
  max-width: 100%;
  height: 200px;
}

.product p {
  margin-top: 5px;
}